@inject AuthenticationStateProvider AuthencationStateProvider
@inject NavigationManager NavigationManager
@using Alumni.Web.Services

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CSE Alumni</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<MudNavMenu Rounded="true" Color="Color.Tertiary" Margin="Margin.Dense" Class="pa-2">
    <MudNavLink IconColor="Color.Tertiary" Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink IconColor="Color.Tertiary" Href=@($"profile/edit/{profileId}") Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Edit">Edit Profile</MudNavLink>
    <MudNavLink IconColor="Color.Tertiary" Href="@($"profile/view/{profileId}")" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.RemoveRedEye">View Profile</MudNavLink>
    <MudNavLink IconColor="Color.Tertiary" Href="/search" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Search">Find Alumni</MudNavLink>
    <MudNavGroup IconColor="Color.Error" Title="Admin Panel" Icon="@Icons.Material.Filled.AdminPanelSettings" Expanded="true">
        <MudNavLink Href="/admin/activity" Icon="@Icons.Material.Filled.LocalActivity" IconColor="Color.Info">Acitvity</MudNavLink>
        <MudNavLink Href="/admin/notice" Icon="@Icons.Material.Filled.Newspaper" IconColor="Color.Info">Notice</MudNavLink>
        <MudNavLink Href="/admin/event" Icon="@Icons.Material.Filled.Event" IconColor="Color.Info">Events</MudNavLink>
        <MudNavLink Href="/admin/gallery" Icon="@Icons.Material.Filled.BrowseGallery" IconColor="Color.Info">Gallery</MudNavLink>
        <MudNavLink Href="/admin/member" Icon="@Icons.Material.Filled.Person2" IconColor="Color.Info">Members</MudNavLink>
        <MudNavLink Href="/admin/setting" Icon="@Icons.Material.Filled.Settings" IconColor="Color.Info">Settings</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

<style>
    .mud-nav-link{
        text-decoration: none;
        color: white;
    }
</style>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authenticationState { get; set; }
    [Inject]
    private IProfileService ProfileService { get; set; }

    private bool collapseNavMenu = true;
    public string userEmail { get; set; } = string.Empty;
    public int? profileId { get; set; } = null;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    protected async override Task OnInitializedAsync()
    {
        var user = (await _authenticationState).User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            userEmail = user.Identity.Name ?? "";
            profileId = await ProfileService.GetProfileIdByEmail(userEmail);
        }
        else
        {
            NavigationManager.NavigateTo("Identity/Account/Login", forceLoad: true);
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
